@model ConfigurationView
@{
    ViewData["Title"] = "RSA";
    Layout = "_Layout";
}


<form method="post">
    <h1>Константы</h1>
    <div class="form-group">
        <label>Функция</label>
    </div>
    <div class="form-group">
        <label for="FunctionArgumentCount">Арность функции</label>
        <input id=FunctionArgumetnsCount type="number" class="form-control" placeholder="Арность функции" value="@Model.FunctionArgumetnsCount" readonly>
        <small class="form-text text-muted">Функция задана в исходном коде</small>
    </div>
    <div class="form-group">
        <label>Условие остановки</label>
    </div>
    <div class="form-group">
        <label>Правило оценки качества решения</label>
    </div>

    <h1>Параметры</h1>
    <div class="form-group">
        <label for="MaxStepsCount">Лимит шагов</label>
        <input id=MaxStepsCount name="MaxStepsCount" type="number" class="form-control" placeholder="Максимальное число шагов" value="@Model.MaxStepsCount">
    </div>
    <div class="form-group">
        <label for="MinZeroPointValue">Нижняя граница значений X<sup>0</sup></label>
        <input id=MinZeroPointValue name="MinZeroPointValue" type="number" class="form-control" placeholder="Нижняя граница" value="@Model.MinZeroPointValue">
    </div>
    <div class="form-group">
        <label for="MaxZeroPointValue">Верхняя граница значений X<sup>0</sup></label>
        <input id=MaxZeroPointValue name="MaxZeroPointValue" type="number" class="form-control" placeholder="Верхняя граница" value="@Model.MaxZeroPointValue">
    </div>
    <div class="form-group">
        <label for="CurrentStepSize">Величина шага</label>
        <input id=CurrentStepSize name="CurrentStepSize" type="number" class="form-control" placeholder="Величина шага" value="@Model.CurrentStepSize">
    </div>

    <label class="switch switch-left-right">
        <input class="switch-input" type="checkbox" name="IsMinimization">
        <span class="switch-label" data-on="Max" data-off="Min">
        </span>
        <span class="switch-handle"></span>
    </label>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>