@model List<double>
@{
    ViewData["Title"] = "Начальная точка";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)

    <h5>@ViewData["Title"]</h5>
    @Html.Partial("Partial/_Point", Model)

    @Html.Partial("Partial/_Buttons", new ButtonsView(Buttons.RandomButton, Buttons.ApplyButton))
}