@model ResultView
@{
    ViewData["Title"] = "Результат";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.Partial("Partial/_Configuration", Model.Configuration)

    @Html.Partial("Partial/_Point", Model.ZeroPoint)

    @Html.Partial("Partial/_Directions", Model?.Directions)

    <label class="control-label font-weight-bold"> Найденный экстремум </label>
    @Html.Partial("Partial/_Step", Model.BestSolution)

    <form>
        <label class="control-label font-weight-bold"> Шаги</label>
        @Html.Partial("Partial/_Steps", Model.Steps)
    </form>
}

